# Lab 1 - Sachin, Ikenna, Edgar, Dustin

## Business Understanding

Our selected dataset is a labeled collection of inpatient medical claims, non-personally identifiable beneficiary data, and a list of providers who have been suspected as filing fraudulent claims.  Detecting fraudulent claims is a request frequently asked by a great many organizations in the healthcare industry (and especially in insurance), and claim data is readily available at many of these organizations, so it stands to reason that we may be able to predict fraudulent behavior by analyzing a large number of medical claims.  We will analyze over 40,000 medical claims, non-personally identifying beneficiary information and provider IDs who have previously been identified as engaging in suspected fraudulent behavior in order to attempt to predict possible fraudulent behavior in new claims.

Because we have a categorical response variable, we'll need to treat this as a classification problem.  We will predict possible fraudulent claims and measure effectiveness using cross validation and focus on attaining high metrics in precision and recall.  Precision measures the percentage of fraudulent predictions which are truly fraudulent, and recall measures the total percentage of fraudulent claims correctly identified.  These two metrics have been identified as most appropriate, due to our objective of correctly identifying fraudulent claims.

Some potential outcomes of using this dataset are potentially improving viability of existing provider fraud detection mechanisms in insurance and member paid claims.  Knowledge of fraudulent or excessive billed services awareness for what is or is not acceptable can save money and help reduce rising healthcare costs due to rising insurance premiums.

In [1]:
import pandas as pd
import numpy as np

#Read in data:
ipdata = pd.read_csv("./data/Train_Inpatientdata-1542865627584.csv")
bendata = pd.read_csv("./data/Train_Beneficiarydata-1542865627584.csv")

proc_codes = pd.read_csv("./data/CMS27_DESC_LONG_SHORT_SG_092709.csv")
# v27 ICD-9 Procedure Code Data comes from https://www.cms.gov/Medicare/Coding/ICD9ProviderDiagnosticCodes/Downloads/FY2010Diagnosis-ProcedureCodesFullTitles.zip

diag_codes = pd.read_fwf("./data/V26 I-9 Diagnosis.txt")
# v26 Diag Code Data comes from https://www.cms.gov/Medicare/Coding/ICD9ProviderDiagnosticCodes/Downloads/v27_icd9.zip
# and missing code 7889 comes from https://www.cms.gov/Medicare/Coding/ICD9ProviderDiagnosticCodes/Downloads/v26_icd9.zip



# Merge beneficiary data with inpatient data:
ipdata = ipdata.merge(bendata, left_on='BeneID', right_on='BeneID')

# Merge ICD-9 Procedure Code data with inpatient data to find missing codes:
ipdata = ipdata.merge(proc_codes, left_on='ClmProcedureCode_1', right_on='PROCEDURE CODE', how='left')
ipdata = ipdata.rename(columns={"PROCEDURE CODE": "ProcedureCode_1", "SHORT DESCRIPTION":"ProcedureShortDesc_1", "LONG DESCRIPTION": "ProcedureLongDesc_1"})
ipdata = ipdata.merge(proc_codes, left_on='ClmProcedureCode_2', right_on='PROCEDURE CODE', how='left')
ipdata = ipdata.rename(columns={"PROCEDURE CODE": "ProcedureCode_2", "SHORT DESCRIPTION":"ProcedureShortDesc_2", "LONG DESCRIPTION": "ProcedureLongDesc_2"})
ipdata = ipdata.merge(proc_codes, left_on='ClmProcedureCode_3', right_on='PROCEDURE CODE', how='left')
ipdata = ipdata.rename(columns={"PROCEDURE CODE": "ProcedureCode_3", "SHORT DESCRIPTION":"ProcedureShortDesc_3", "LONG DESCRIPTION": "ProcedureLongDesc_3"})
ipdata = ipdata.merge(proc_codes, left_on='ClmProcedureCode_4', right_on='PROCEDURE CODE', how='left')
ipdata = ipdata.rename(columns={"PROCEDURE CODE": "ProcedureCode_4", "SHORT DESCRIPTION":"ProcedureShortDesc_4", "LONG DESCRIPTION": "ProcedureLongDesc_4"})
ipdata = ipdata.merge(proc_codes, left_on='ClmProcedureCode_5', right_on='PROCEDURE CODE', how='left')
ipdata = ipdata.rename(columns={"PROCEDURE CODE": "ProcedureCode_5", "SHORT DESCRIPTION":"ProcedureShortDesc_5", "LONG DESCRIPTION": "ProcedureLongDesc_5"})

# Merge ICD-9 Diagnosis Code data with inpatient data to find missing codes:
ipdata = ipdata.merge(diag_codes, left_on='ClmDiagnosisCode_1', right_on='DIAGC', how='left')
ipdata = ipdata.rename(columns={"DIAGC": "DiagnosticCode_1", "DESCRIPTION": "DiagnosticDesc_1"})
ipdata = ipdata.merge(diag_codes, left_on='ClmDiagnosisCode_2', right_on='DIAGC', how='left')
ipdata = ipdata.rename(columns={"DIAGC": "DiagnosticCode_2", "DESCRIPTION": "DiagnosticDesc_2"})
ipdata = ipdata.merge(diag_codes, left_on='ClmDiagnosisCode_3', right_on='DIAGC', how='left')
ipdata = ipdata.rename(columns={"DIAGC": "DiagnosticCode_3", "DESCRIPTION": "DiagnosticDesc_3"})
ipdata = ipdata.merge(diag_codes, left_on='ClmDiagnosisCode_4', right_on='DIAGC', how='left')
ipdata = ipdata.rename(columns={"DIAGC": "DiagnosticCode_4", "DESCRIPTION": "DiagnosticDesc_4"})
ipdata = ipdata.merge(diag_codes, left_on='ClmDiagnosisCode_5', right_on='DIAGC', how='left')
ipdata = ipdata.rename(columns={"DIAGC": "DiagnosticCode_5", "DESCRIPTION": "DiagnosticDesc_5"})
ipdata = ipdata.merge(diag_codes, left_on='ClmDiagnosisCode_6', right_on='DIAGC', how='left')
ipdata = ipdata.rename(columns={"DIAGC": "DiagnosticCode_6", "DESCRIPTION": "DiagnosticDesc_6"})
ipdata = ipdata.merge(diag_codes, left_on='ClmDiagnosisCode_7', right_on='DIAGC', how='left')
ipdata = ipdata.rename(columns={"DIAGC": "DiagnosticCode_7", "DESCRIPTION": "DiagnosticDesc_7"})
ipdata = ipdata.merge(diag_codes, left_on='ClmDiagnosisCode_8', right_on='DIAGC', how='left')
ipdata = ipdata.rename(columns={"DIAGC": "DiagnosticCode_8", "DESCRIPTION": "DiagnosticDesc_8"})
ipdata = ipdata.merge(diag_codes, left_on='ClmDiagnosisCode_9', right_on='DIAGC', how='left')
ipdata = ipdata.rename(columns={"DIAGC": "DiagnosticCode_9", "DESCRIPTION": "DiagnosticDesc_9"})
ipdata = ipdata.merge(diag_codes, left_on='ClmDiagnosisCode_10', right_on='DIAGC', how='left')
ipdata = ipdata.rename(columns={"DIAGC": "DiagnosticCode_10", "DESCRIPTION": "DiagnosticDesc_10"})

# Convert to usable formats:
timecols = ['ClaimStartDt', 'ClaimEndDt','AdmissionDt', 'DischargeDt', 'DOB','DOD']
ipdata[timecols] = ipdata[timecols].apply(pd.to_datetime)

ipdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41783 entries, 0 to 41782
Data columns (total 89 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   BeneID                           41783 non-null  object
 1   ClaimID                          41783 non-null  object
 2   ClaimStartDt                     41783 non-null  datetime64[ns]
 3   ClaimEndDt                       41783 non-null  datetime64[ns]
 4   Provider                         41783 non-null  object
 5   InscClaimAmtReimbursed           41783 non-null  int64
 6   AttendingPhysician               41670 non-null  object
 7   OperatingPhysician               25138 non-null  object
 8   OtherPhysician                   4889 non-null   object
 9   AdmissionDt                      41783 non-null  datetime64[ns]
 10  ClmAdmitDiagnosisCode            41783 non-null  object
 11  DeductibleAmtPaid                40859 non-null  float64
 12  DischargeDt                      41783 non-null  datetime64[ns]
 13  DiagnosisGroupCode               41783 non-null  object
 14  ClmDiagnosisCode_1               41783 non-null  object
 15  ClmDiagnosisCode_2               41555 non-null  object
 16  ClmDiagnosisCode_3               41092 non-null  object
 17  ClmDiagnosisCode_4               40207 non-null  object
 18  ClmDiagnosisCode_5               38789 non-null  object
 19  ClmDiagnosisCode_6               36763 non-null  object
 20  ClmDiagnosisCode_7               34237 non-null  object
 21  ClmDiagnosisCode_8               31462 non-null  object
 22  ClmDiagnosisCode_9               27794 non-null  object
 23  ClmDiagnosisCode_10              4037 non-null   object
 24  ClmProcedureCode_1               24457 non-null  float64
 25  ClmProcedureCode_2               6234 non-null   float64
 26  ClmProcedureCode_3               1205 non-null   float64
 27  ClmProcedureCode_4               149 non-null    float64
 28  ClmProcedureCode_5               13 non-null     float64
 29  ClmProcedureCode_6               0 non-null      float64
 30  DOB                              41783 non-null  datetime64[ns]
 31  DOD                              323 non-null    datetime64[ns]
 32  Gender                           41783 non-null  int64
 33  Race                             41783 non-null  int64
 34  RenalDiseaseIndicator            41783 non-null  object
 35  State                            41783 non-null  int64
 36  County                           41783 non-null  int64
 37  NoOfMonths_PartACov              41783 non-null  int64
 38  NoOfMonths_PartBCov              41783 non-null  int64
 39  ChronicCond_Alzheimer            41783 non-null  int64
 40  ChronicCond_Heartfailure         41783 non-null  int64
 41  ChronicCond_KidneyDisease        41783 non-null  int64
 42  ChronicCond_Cancer               41783 non-null  int64
 43  ChronicCond_ObstrPulmonary       41783 non-null  int64
 44  ChronicCond_Depression           41783 non-null  int64
 45  ChronicCond_Diabetes             41783 non-null  int64
 46  ChronicCond_IschemicHeart        41783 non-null  int64
 47  ChronicCond_Osteoporasis         41783 non-null  int64
 48  ChronicCond_rheumatoidarthritis  41783 non-null  int64
 49  ChronicCond_stroke               41783 non-null  int64
 50  IPAnnualReimbursementAmt         41783 non-null  int64
 51  IPAnnualDeductibleAmt            41783 non-null  int64
 52  OPAnnualReimbursementAmt         41783 non-null  int64
 53  OPAnnualDeductibleAmt            41783 non-null  int64
 54  ProcedureCode_1                  24457 non-null  float64
 55  ProcedureLongDesc_1              24457 non-null  object
 56  ProcedureShortDesc_1             24457 non-null  object
 57  ProcedureCode_2                  6234 non-null   float64
 58  ProcedureLongDesc_2              6234 non-null   object
 59  ProcedureShortDesc_2             6234 non-null   object
 60  ProcedureCode_3                  1205 non-null   float64
 61  ProcedureLongDesc_3              1205 non-null   object
 62  ProcedureShortDesc_3             1205 non-null   object
 63  ProcedureCode_4                  149 non-null    float64
 64  ProcedureLongDesc_4              149 non-null    object
 65  ProcedureShortDesc_4             149 non-null    object
 66  ProcedureCode_5                  13 non-null     float64
 67  ProcedureLongDesc_5              13 non-null     object
 68  ProcedureShortDesc_5             13 non-null     object
 69  DiagnosticCode_1                 41783 non-null  object
 70  DiagnosticDesc_1                 41783 non-null  object
 71  DiagnosticCode_2                 41555 non-null  object
 72  DiagnosticDesc_2                 41555 non-null  object
 73  DiagnosticCode_3                 41092 non-null  object
 74  DiagnosticDesc_3                 41092 non-null  object
 75  DiagnosticCode_4                 40207 non-null  object
 76  DiagnosticDesc_4                 40207 non-null  object
 77  DiagnosticCode_5                 38789 non-null  object
 78  DiagnosticDesc_5                 38789 non-null  object
 79  DiagnosticCode_6                 36763 non-null  object
 80  DiagnosticDesc_6                 36763 non-null  object
 81  DiagnosticCode_7                 34237 non-null  object
 82  DiagnosticDesc_7                 34237 non-null  object
 83  DiagnosticCode_8                 31462 non-null  object
 84  DiagnosticDesc_8                 31462 non-null  object
 85  DiagnosticCode_9                 27794 non-null  object
 86  DiagnosticDesc_9                 27794 non-null  object
 87  DiagnosticCode_10                4037 non-null   object
 88  DiagnosticDesc_10                4037 non-null   object
dtypes: datetime64[ns](6), float64(12), int64(22), object(49)
memory usage: 28.7+ MB

## Data Meaning Type

In [18]:
ipdata

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,DiagnosticCode_6,DiagnosticDesc_6,DiagnosticCode_7,DiagnosticDesc_7,DiagnosticCode_8,DiagnosticDesc_8,DiagnosticCode_9,DiagnosticDesc_9,DiagnosticCode_10,DiagnosticDesc_10
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,71590,OSTEOARTHROS NOS-UNSPEC,2724,HYPERLIPIDEMIA NEC/NOS,19889,SECONDARY MALIG NEO NEC,5849,ACUTE RENAL FAILURE NOS,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,32723,OBSTRUCTIVE SLEEP APNEA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,4254,PRIM CARDIOMYOPATHY NEC,25062,DMII NEURO UNCNTRLD,40390,HY KID NOS W CR KID I-IV,4019,HYPERTENSION NOS,NaN,NaN
4,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,4254,PRIM CARDIOMYOPATHY NEC,25062,DMII NEURO UNCNTRLD,40390,HY KID NOS W CR KID I-IV,4019,HYPERTENSION NOS,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41778,BENE159167,CLM69886,2009-09-28,2009-10-02,PRV53671,7000,PHY345332,PHY319565,NaN,2009-09-28,...,5173,ACUTE CHEST SYNDROME,79092,ABNRML COAGULTION PRFILE,70704,"PRESSURE ULCER, HIP",2869,COAGULAT DEFECT NEC/NOS,4148,CHR ISCHEMIC HRT DIS NEC
41779,BENE159175,CLM74504,2009-11-03,2009-11-06,PRV54981,4000,PHY342806,PHY365497,NaN,2009-11-03,...,V1042,HX-UTERUS MALIGNANCY NEC,49122,OBS CHR BRONC W AC BRONC,4254,PRIM CARDIOMYOPATHY NEC,5990,URIN TRACT INFECTION NOS,NaN,NaN
41780,BENE159177,CLM76485,2009-11-18,2009-11-22,PRV56588,3000,PHY423220,PHY332752,NaN,2009-11-18,...,4111,INTERMED CORONARY SYND,71534,LOC OSTEOARTH NOS-HAND,71590,OSTEOARTHROS NOS-UNSPEC,V4502,STATUS AUTM CRD DFBRLTR,NaN,NaN
41781,BENE159177,CLM79949,2009-12-17,2009-12-18,PRV56575,5000,PHY353156,NaN,NaN,2009-12-17,...,42822,CHR SYSTOLIC HRT FAILURE,4263,LEFT BB BLOCK NEC,0414,E. COLI INFECT NOS,41400,COR ATH UNSP VSL NTV/GFT,NaN,NaN
41782,BENE159188,CLM69948,2009-09-28,2009-10-06,PRV54765,15000,PHY431177,PHY352941,NaN,2009-09-28,...,412,OLD MYOCARDIAL INFARCT,4019,HYPERTENSION NOS,2800,CHR BLOOD LOSS ANEMIA,27801,MORBID OBESITY,NaN,NaN

## Data Quality

In [2]:
df = ipdata[['ClmProcedureCode_1', 'ProcedureCode_1']]
df = df.fillna('None')
df[df['ClmProcedureCode_1'] != df['ProcedureCode_1']]

Empty DataFrame
Columns: [ClmProcedureCode_1, ProcedureCode_1]
Index: []

In [3]:
df = ipdata[['ClmProcedureCode_2', 'ProcedureCode_2']]
df = df.fillna('None')
df[df['ClmProcedureCode_2'] != df['ProcedureCode_2']]

Empty DataFrame
Columns: [ClmProcedureCode_2, ProcedureCode_2]
Index: []

In [4]:
df = ipdata[['ClmProcedureCode_3', 'ProcedureCode_3']]
df = df.fillna('None')
df[df['ClmProcedureCode_3'] != df['ProcedureCode_3']]

Empty DataFrame
Columns: [ClmProcedureCode_3, ProcedureCode_3]
Index: []

In [5]:
df = ipdata[['ClmProcedureCode_4', 'ProcedureCode_4']]
df = df.fillna('None')
df[df['ClmProcedureCode_4'] != df['ProcedureCode_4']]

Empty DataFrame
Columns: [ClmProcedureCode_4, ProcedureCode_4]
Index: []

In [6]:
df = ipdata[['ClmProcedureCode_5', 'ProcedureCode_5']]
df = df.fillna('None')
df[df['ClmProcedureCode_5'] != df['ProcedureCode_5']]

Empty DataFrame
Columns: [ClmProcedureCode_5, ProcedureCode_5]
Index: []

In [7]:
df = ipdata[['ClmDiagnosisCode_1', 'DiagnosticCode_1']]
df = df.fillna('None')
df[df['ClmDiagnosisCode_1'] != df['DiagnosticCode_1']]

Empty DataFrame
Columns: [ClmDiagnosisCode_1, DiagnosticCode_1]
Index: []

In [8]:
df = ipdata[['ClmDiagnosisCode_2', 'DiagnosticCode_2']]
df = df.fillna('None')
df[df['ClmDiagnosisCode_2'] != df['DiagnosticCode_2']]

Empty DataFrame
Columns: [ClmDiagnosisCode_2, DiagnosticCode_2]
Index: []

In [9]:
df = ipdata[['ClmDiagnosisCode_3', 'DiagnosticCode_3']]
df = df.fillna('None')
df[df['ClmDiagnosisCode_3'] != df['DiagnosticCode_3']]

Empty DataFrame
Columns: [ClmDiagnosisCode_3, DiagnosticCode_3]
Index: []

In [10]:
df = ipdata[['ClmDiagnosisCode_4', 'DiagnosticCode_4']]
df = df.fillna('None')
df[df['ClmDiagnosisCode_4'] != df['DiagnosticCode_4']]

Empty DataFrame
Columns: [ClmDiagnosisCode_4, DiagnosticCode_4]
Index: []

In [11]:
df = ipdata[['ClmDiagnosisCode_5', 'DiagnosticCode_5']]
df = df.fillna('None')
df[df['ClmDiagnosisCode_5'] != df['DiagnosticCode_5']]

Empty DataFrame
Columns: [ClmDiagnosisCode_5, DiagnosticCode_5]
Index: []

In [12]:
df = ipdata[['ClmDiagnosisCode_6', 'DiagnosticCode_6']]
df = df.fillna('None')
df[df['ClmDiagnosisCode_6'] != df['DiagnosticCode_6']]

Empty DataFrame
Columns: [ClmDiagnosisCode_6, DiagnosticCode_6]
Index: []

In [13]:
df = ipdata[['ClmDiagnosisCode_7', 'DiagnosticCode_7']]
df = df.fillna('None')
df[df['ClmDiagnosisCode_7'] != df['DiagnosticCode_7']]

Empty DataFrame
Columns: [ClmDiagnosisCode_7, DiagnosticCode_7]
Index: []

In [14]:
df = ipdata[['ClmDiagnosisCode_8', 'DiagnosticCode_8']]
df = df.fillna('None')
df[df['ClmDiagnosisCode_8'] != df['DiagnosticCode_8']]

Empty DataFrame
Columns: [ClmDiagnosisCode_8, DiagnosticCode_8]
Index: []

In [15]:
df = ipdata[['ClmDiagnosisCode_9', 'DiagnosticCode_9']]
df = df.fillna('None')
df[df['ClmDiagnosisCode_9'] != df['DiagnosticCode_9']]

Empty DataFrame
Columns: [ClmDiagnosisCode_9, DiagnosticCode_9]
Index: []

In [16]:
df = ipdata[['ClmDiagnosisCode_10', 'DiagnosticCode_10']]
df = df.fillna('None')
df[df['ClmDiagnosisCode_10'] != df['DiagnosticCode_10']]

Empty DataFrame
Columns: [ClmDiagnosisCode_10, DiagnosticCode_10]
Index: []

In [17]:
op.isnull().sum()

NameError: name 'op' is not defined

## Simple Statistics

In [ ]:
ipdata.describe()

## Visualize Attributes

## Explore Joint Attributes

## Explore Attributes and Class

## New Features
Column|Description|Calculation
:---|:---|:---
DaysIP | Inpatient Days Stayed | DischargeDt - AdmissionDt + 1

In [ ]:
ipdata['DaysIP'] = ipdata['DischargeDt'] - ipdata['AdmissionDt'] + pd.Timedelta(1, unit='days')

## Exceptional Work

In [ ]:
# Known Fraud Cases: (TODO: add a dictionary or something here with various known scenarios?)

## Number of claims with admission date after death:
((ipdata['AdmissionDt'] - ipdata['DOD']) > pd.Timedelta(1, unit='days')).sum()

# Rubric:
## Business Understanding 	10	
*Describe the purpose of the data set you selected (i.e., why was this data collected in the first place?). Describe how you would define and measure the outcomes from the dataset. That is, why is this data important and how do you know if you have mined useful knowledge from the dataset? How would you measure the effectiveness of a good prediction algorithm? Be specific.* 

Class notes:  
- First couple of sentences are straightforward.  MAKE SURE you answer why it's important (why we picked it) what are we going to predict using this dataset? 
- Once you picked it. It will be either continuous or categorical. YOU MUST also identify the algorithm.  I will measure effectiveness of the algorithm using _____RMSE or whatever______ ? 
- Continuous: regression problem RMSE, MAEP (mean absolute error percentage), R^2 (more for CV) 
- Categorical: classification problem.  Could use: accuracy, precision, recall, F1, ROC curve 
- I want to predict X, type of problem, measure effectiveness using ___ cross validation, and metric (precision/recall) 
- Mean absolute error: can predict within X percent of actual graduation rate 
- RMSE: pretty close to MAE, but if model gets something really wrong (true: 90%, predict 70%), RMSE penalizes really heavily for those big misses 

## Data Meaning Type 	10	
*Describe the meaning and type of data (scale, values, etc.) for each attribute in the data file.*

Class notes:
- Dataframe.info() in pandas.  Can put it in a table and provide definitions (business info) 

## Data Quality	15	
Verify data quality: Explain any missing values, duplicate data, and outliers. Are those mistakes? How do you deal with these problems? Give justifications for your methods.

Class notes:
- Hit all 6 things for full credit.  Code to check for each.  Boxplots. (don't need a boxplot for all 1000 fields) programmatic effort is ok for large # of fields.  Looking for explanations for why we decided to do something a certain way.  As long as it is explained well, should be full credit unless it is egregious.   

## Simple Statistics	10	
Visualize appropriate statistics (e.g., range, mode, mean, median, variance, counts) for a subset of attributes. Describe anything meaningful you found from this or if you found something potentially interesting. Note: You can also use data from other sources for comparison. Explain why the statistics run are meaningful. 

Class notes:
- Dataframe.describe() and pick a couple of interesting fields and describe why interesting 
- What percent belongs to positive vs negative response variable 

## Visualize Attributes	15	
Visualize the most interesting attributes (at least 5 attributes, your opinion on what is interesting). Important: Interpret the implications for each visualization. Explain for each attribute why the chosen visualization is appropriate.

Class notes:
- Two requirements for each viz you make that need to be written about 
- Need more than 1 sentence.  If take time to make viz, explain why we did it, and why it's significant to report 
- Report needs to be equal parts code & writing 

## Explore Joint Attributes	15	
Visualize relationships between attributes: Look at the attributes via scatter plots, correlation, cross-tabulation, group-wise averages, etc. as appropriate. Explain any interesting relationships.

Class notes:
- Viz two or more and analyze why they're different 
- Pair plot, or scatterplot for pairwise combos of features 
- Correlation heatmap, talk about highly correlated fields 
- If correlated w/ response woot, if another feature, may need cleanup 

## Explore Attributes and Class	10	
Identify and explain interesting relationships between features and the class you are trying to predict (i.e., relationships with variables and the target classification).

Class notes:
- Class = thing in dataset you're trying to predict 
- Ds.data and ds.target (target = response, data = features) 
- Can use visualizations here, Should tie together w/ visualizations  

## New Features	5	
Are there other features that could be added to the data or created from existing features? Which ones?

Class notes:
- Feature engineering, don't have to build them, just think about it and comment on what you might do 
- ML models are really basic, don't see the same things as people see 
- Can bin age/income, or create percentages 
- More info you can tell model, the better 
- If you're going to get some features from somewhere else, you must be explicit:
- I.e. I want to add weather info: where is the data coming from, prove it exists 
- Could be a couple of bullet points with what we're going to create 

## Exceptional Work	10	
You have free reign to provide additional analyses. One idea: implement dimensionality reduction, then visualize and interpret the results.

Class notes:
- Can pick what you want to work on. PCA. Scree plot, talk about it.  Be creative or smart.  Could build a model (log regression or SVM) for exceptional points, and then cut/paste into lab 2 
- Here are the things I'd like to be considered for exceptional points: if you do code and explain it, should be point worthy.  Needs to be substantial.  I.e. make it good.