<font size=6> <b> SMU Lab Two - MSDS7331 - Machine Learning-1 </b> </font>

<font size=5> <b> Summer 2020 Group - Sachin, Ikenna, Edgar, Dustin </b></font> 




<img src="https://github.com/sachinac/ML7331/blob/master/data/data_mining.jpg?raw=true"> 

<p align="center"><font size=5> <b> Health Care Fraud Detection  </b></font> </p>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-1">Import Libraries</a></span></li><li><span><a href="#Data-Preparation-Part-1" data-toc-modified-id="Data-Preparation-Part-1-2">Data Preparation Part 1</a></span><ul class="toc-item"><li><span><a href="#Load-Data" data-toc-modified-id="Load-Data-2.1">Load Data</a></span></li><li><span><a href="#Categorical-Variables" data-toc-modified-id="Categorical-Variables-2.2">Categorical Variables</a></span></li><li><span><a href="#Float-Variables" data-toc-modified-id="Float-Variables-2.3">Float Variables</a></span></li><li><span><a href="#Integer-Variables" data-toc-modified-id="Integer-Variables-2.4">Integer Variables</a></span></li><li><span><a href="#Dates-Variables" data-toc-modified-id="Dates-Variables-2.5">Dates Variables</a></span></li><li><span><a href="#Recoding" data-toc-modified-id="Recoding-2.6">Recoding</a></span></li><li><span><a href="#Dataframe" data-toc-modified-id="Dataframe-2.7">Dataframe</a></span></li><li><span><a href="#All-Features" data-toc-modified-id="All-Features-2.8">All Features</a></span></li><li><span><a href="#Target-Variable" data-toc-modified-id="Target-Variable-2.9">Target Variable</a></span></li><li><span><a href="#One-Hot-Encoding-using-Pandas" data-toc-modified-id="One-Hot-Encoding-using-Pandas-2.10">One Hot Encoding using Pandas</a></span></li><li><span><a href="#Remove-None-columns" data-toc-modified-id="Remove-None-columns-2.11">Remove None columns</a></span></li><li><span><a href="#MinMaxScaler" data-toc-modified-id="MinMaxScaler-2.12">MinMaxScaler</a></span></li></ul></li><li><span><a href="#Data-Preparation-Part-2" data-toc-modified-id="Data-Preparation-Part-2-3">Data Preparation Part 2</a></span><ul class="toc-item"><li><span><a href="#Final-DataSet" data-toc-modified-id="Final-DataSet-3.1">Final DataSet</a></span></li><li><span><a href="#Sparse-Matrix" data-toc-modified-id="Sparse-Matrix-3.2">Sparse Matrix</a></span></li><li><span><a href="#Train-and-Test-split" data-toc-modified-id="Train-and-Test-split-3.3">Train and Test split</a></span></li></ul></li><li><span><a href="#Modeling-and-Evaluations-1" data-toc-modified-id="Modeling-and-Evaluations-1-4">Modeling and Evaluations 1</a></span></li><li><span><a href="#Modeling-and-Evaluations-2" data-toc-modified-id="Modeling-and-Evaluations-2-5">Modeling and Evaluations 2</a></span></li><li><span><a href="#Modeling-and-Evaluations-3" data-toc-modified-id="Modeling-and-Evaluations-3-6">Modeling and Evaluations 3</a></span><ul class="toc-item"><li><span><a href="#Create-Models" data-toc-modified-id="Create-Models-6.1">Create Models</a></span></li></ul></li><li><span><a href="#Modeling-and-Evaluations-4" data-toc-modified-id="Modeling-and-Evaluations-4-7">Modeling and Evaluations 4</a></span></li><li><span><a href="#Modeling-and-Evaluations-5" data-toc-modified-id="Modeling-and-Evaluations-5-8">Modeling and Evaluations 5</a></span></li><li><span><a href="#Modeling-and-Evaluations-6" data-toc-modified-id="Modeling-and-Evaluations-6-9">Modeling and Evaluations 6</a></span></li><li><span><a href="#Deployment" data-toc-modified-id="Deployment-10">Deployment</a></span></li><li><span><a href="#Exceptional-Work" data-toc-modified-id="Exceptional-Work-11">Exceptional Work</a></span></li><li><span><a href="#References" data-toc-modified-id="References-12">References</a></span></li></ul></div>

# Import Libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from scipy.sparse import csc_matrix
import datetime as dt

# Data Preparation Part 1

## Load Data

Load data into memory. EDA was already performed on this data. We had originally received Beneficiary, Encounters and target variable datasets in three different spreadsheets and EDA combined that into single spreadsheet using keys of the tables. We still need to perform some additional operations before we actually start with modeling. So in first we prepare our data for modeling as follows :
* Prepare variables. Setup data type correctly.
* Remove unnecessary variables
* Transform categorical features into dummy variables 
* Feature selection.

Lets first print the information of this dataframe. As we can see from below dataframe info this data has total of 79 features. We definately dont need all features. This step will process some of the features before we actually use this data for modeling.

In [2]:
lab2_df = pd.read_csv('data/final_fraud_dataset.csv',index_col=0)

lab2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Data columns (total 80 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   BeneID                           40474 non-null  object
 1   DOB                              40474 non-null  int64
 2   DOD                              40474 non-null  int64
 3   Gender                           40474 non-null  int64
 4   Race                             40474 non-null  int64
 5   RenalDiseaseIndicator            40474 non-null  object
 6   State                            40474 non-null  int64
 7   County                           40474 non-null  int64
 8   NoOfMonths_PartACov              40474 non-null  int64
 9   NoOfMonths_PartBCov              40474 non-null  int64
 10  ChronicCond_Alzheimer            40474 non-null  int64
 11  ChronicCond_Heartfailure         40474 non-null  int64
 12  ChronicCond_KidneyDisease        40474 non-null  int64
 13  ChronicCond_Cancer               40474 non-null  int64
 14  ChronicCond_ObstrPulmonary       40474 non-null  int64
 15  ChronicCond_Depression           40474 non-null  int64
 16  ChronicCond_Diabetes             40474 non-null  int64
 17  ChronicCond_IschemicHeart        40474 non-null  int64
 18  ChronicCond_Osteoporasis         40474 non-null  int64
 19  ChronicCond_rheumatoidarthritis  40474 non-null  int64
 20  ChronicCond_stroke               40474 non-null  int64
 21  IPAnnualReimbursementAmt         40474 non-null  int64
 22  IPAnnualDeductibleAmt            40474 non-null  int64
 23  OPAnnualReimbursementAmt         40474 non-null  int64
 24  OPAnnualDeductibleAmt            40474 non-null  int64
 25  state_usps                       40474 non-null  object
 26  Alive                            40474 non-null  object
 27  ClaimID                          40474 non-null  object
 28  ClaimStartDt                     40474 non-null  object
 29  ClaimEndDt                       40474 non-null  object
 30  Provider                         40474 non-null  object
 31  InscClaimAmtReimbursed           40474 non-null  int64
 32  AttendingPhysician               40474 non-null  object
 33  OperatingPhysician               40474 non-null  object
 34  OtherPhysician                   40474 non-null  object
 35  AdmissionDt                      40474 non-null  object
 36  ClmAdmitDiagnosisCode            40474 non-null  object
 37  DischargeDt                      40474 non-null  object
 38  DiagnosisGroupCode               40474 non-null  object
 39  ClmDiagnosisCode_1               40474 non-null  object
 40  ClmDiagnosisCode_2               40474 non-null  object
 41  ClmDiagnosisCode_3               40474 non-null  object
 42  ClmDiagnosisCode_4               40474 non-null  object
 43  ClmDiagnosisCode_5               40474 non-null  object
 44  ClmDiagnosisCode_6               40474 non-null  object
 45  ClmDiagnosisCode_7               40474 non-null  object
 46  ClmDiagnosisCode_8               40474 non-null  object
 47  ClmDiagnosisCode_9               40474 non-null  object
 48  ClmDiagnosisCode_10              40474 non-null  object
 49  ClmProcedureCode_1               40474 non-null  object
 50  ClmProcedureCode_2               40474 non-null  object
 51  ClmProcedureCode_3               40474 non-null  object
 52  ClmProcedureCode_4               40474 non-null  object
 53  ClmProcedureCode_5               40474 non-null  object
 54  DRGDesc                          40474 non-null  object
 55  ProcedureShortDesc_1             40474 non-null  object
 56  ProcedureShortDesc_2             40474 non-null  object
 57  ProcedureShortDesc_3             40474 non-null  object
 58  ProcedureShortDesc_4             40474 non-null  object
 59  ProcedureShortDesc_5             40474 non-null  object
 60  DiagnosticDesc_1                 40474 non-null  object
 61  DiagnosticDesc_2                 40474 non-null  object
 62  DiagnosticDesc_3                 40474 non-null  object
 63  DiagnosticDesc_4                 40474 non-null  object
 64  DiagnosticDesc_5                 40474 non-null  object
 65  DiagnosticDesc_6                 40474 non-null  object
 66  DiagnosticDesc_7                 40474 non-null  object
 67  DiagnosticDesc_8                 40474 non-null  object
 68  DiagnosticDesc_9                 40474 non-null  object
 69  DiagnosticDesc_10                40474 non-null  object
 70  DaysAdmitted                     40474 non-null  int64
 71  PotentialFraud                   40474 non-null  object
 72  Age                              40474 non-null  int64
 73  NoPhysician                      40474 non-null  int64
 74  AttendingPhysicianPresent        40474 non-null  int64
 75  OtherPhysicianPresent            40474 non-null  int64
 76  OperatingPhysicianPresent        40474 non-null  int64
 77  NoOfDiag                         40474 non-null  int64
 78  NoOfProc                         40474 non-null  int64
 79  NoOfChronicCondition             40474 non-null  int64
dtypes: int64(33), object(47)
memory usage: 25.0+ MB

## Categorical Variables

Following are nominal categorical attributes. Pandas requires these to be datatype of 'object' or 'category'. We are setting nominal categorical variables as 'object'. Here is the list of categorical variables :

* Race
* Gender
* State
* County
* AttendingPhysicianPresent
* OtherPhysicianPresent
* OperatingPhysicianPresent

In [3]:
cat_preds = ['Race','Gender','State','County','AttendingPhysicianPresent','OtherPhysicianPresent',
             'OperatingPhysicianPresent']

lab2_df[cat_preds]   = lab2_df[cat_preds].astype('object')

lab2_df[cat_preds].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Race                       40474 non-null  object
 1   Gender                     40474 non-null  object
 2   State                      40474 non-null  object
 3   County                     40474 non-null  object
 4   AttendingPhysicianPresent  40474 non-null  object
 5   OtherPhysicianPresent      40474 non-null  object
 6   OperatingPhysicianPresent  40474 non-null  object
dtypes: object(7)
memory usage: 2.5+ MB

## Float Variables

Following varibles are required to be datatype of floating point. These are amounts and hence it makes sense to changt it's type to float

* InscClaimAmtReimbursed
* IPAnnualReimbursementAmt
* IPAnnualDeductibleAmt

In [4]:
float_preds = ['InscClaimAmtReimbursed','IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt']

lab2_df[float_preds]   = lab2_df[float_preds].astype('float')
lab2_df[float_preds].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   InscClaimAmtReimbursed    40474 non-null  float64
 1   IPAnnualReimbursementAmt  40474 non-null  float64
 2   IPAnnualDeductibleAmt     40474 non-null  float64
dtypes: float64(3)
memory usage: 1.2 MB

## Integer Variables

These variables contains all numbers but they are actually nominal categorical attributes. They are all binary in nature. So we can keep them as integer as we will be converting this dataset into sparse matrix for model building exercise. 

Following variables will be set as integer data type :
* 11 chronic conditions
* NoOfMonths_PartACov - Number of months of Medicare part A coverage
* NoOfMonths_PartBCov - Number of months of Medicare part B coverage

In [5]:
int_preds = ['ChronicCond_Alzheimer','ChronicCond_Heartfailure','ChronicCond_KidneyDisease',
             'ChronicCond_Cancer','ChronicCond_ObstrPulmonary','ChronicCond_Depression',
             'ChronicCond_Diabetes','ChronicCond_IschemicHeart','ChronicCond_Osteoporasis',
             'ChronicCond_rheumatoidarthritis','ChronicCond_stroke', 'NoOfMonths_PartACov', 
             'NoOfMonths_PartBCov']

lab2_df[int_preds] = lab2_df[int_preds].astype(int)
lab2_df[int_preds].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ChronicCond_Alzheimer            40474 non-null  int64
 1   ChronicCond_Heartfailure         40474 non-null  int64
 2   ChronicCond_KidneyDisease        40474 non-null  int64
 3   ChronicCond_Cancer               40474 non-null  int64
 4   ChronicCond_ObstrPulmonary       40474 non-null  int64
 5   ChronicCond_Depression           40474 non-null  int64
 6   ChronicCond_Diabetes             40474 non-null  int64
 7   ChronicCond_IschemicHeart        40474 non-null  int64
 8   ChronicCond_Osteoporasis         40474 non-null  int64
 9   ChronicCond_rheumatoidarthritis  40474 non-null  int64
 10  ChronicCond_stroke               40474 non-null  int64
 11  NoOfMonths_PartACov              40474 non-null  int64
 12  NoOfMonths_PartBCov              40474 non-null  int64
dtypes: int64(13)
memory usage: 4.3 MB

## Dates Variables

Following are new attributes are derived from existing attritbutes of type dates. All date attributes are converted to the proleptic Gregorian ordinal of a date.In simple terms datetime.toordinal() returns the day count from the date 01/01/01


* ORD_DOD - Set ORD_DOD to open end date where date is not available to indicate that Beneficiary is alive
* ORD_DOB 
* ORD_ClaimStartDt
* ORD_ClaimEndDt
* ORD_AdmissionDt
* ORD_DischargeDt

In [6]:
dte_preds = ['ClaimStartDt', 'ClaimEndDt','AdmissionDt', 'DischargeDt', 'DOB','DOD']

lab2_df['ORD_DOD'] = lab2_df['DOD']
lab2_df['ORD_DOD'] = lab2_df['ORD_DOD'].replace(0,22991231)
lab2_df['ORD_DOD'] = lab2_df['ORD_DOD'].astype('object')

lab2_df['ORD_DOD'] = pd.to_datetime(lab2_df['ORD_DOD'],format='%Y-%m-%d').apply(dt.datetime.toordinal)
lab2_df['ORD_DOB'] = pd.to_datetime(lab2_df['DOB'],format='%Y-%m-%d').apply(dt.datetime.toordinal)
lab2_df['ORD_ClaimStartDt'] = pd.to_datetime(lab2_df['ClaimStartDt'],format='%Y-%m-%d').apply(dt.datetime.toordinal)
lab2_df['ORD_ClaimEndDt']   = pd.to_datetime(lab2_df['ClaimEndDt'],format='%Y-%m-%d').apply(dt.datetime.toordinal)
lab2_df['ORD_AdmissionDt']  = pd.to_datetime(lab2_df['AdmissionDt'],format='%Y-%m-%d').apply(dt.datetime.toordinal)
lab2_df['ORD_DischargeDt']  = pd.to_datetime(lab2_df['DischargeDt'],format='%Y-%m-%d').apply(dt.datetime.toordinal)

ord_dte_preds = ['ORD_DOD', 'ORD_DOB','ORD_ClaimStartDt', 'ORD_ClaimEndDt', 'ORD_AdmissionDt','ORD_DischargeDt']

lab2_df[ord_dte_preds].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORD_DOD           40474 non-null  int64
 1   ORD_DOB           40474 non-null  int64
 2   ORD_ClaimStartDt  40474 non-null  int64
 3   ORD_ClaimEndDt    40474 non-null  int64
 4   ORD_AdmissionDt   40474 non-null  int64
 5   ORD_DischargeDt   40474 non-null  int64
dtypes: int64(6)
memory usage: 2.2 MB

## Recoding

All chronic conditions, Gender, RenalDiseaseIndicator are binary variables i.e. they all have just two values but values are not 0 and 1. e.g. Gender has values 1 or 2, RenalDiseaseIndicator has Y or 1 and all Chronic Conditions has values 1 or. 

We will recode these values to 0 or 1 instead of 1 and 2 for modeling purpose.

In [7]:
# Recode below categorical variables 

lab2_df['Gender']  = lab2_df['Gender'].replace([1,2],[0,1])
lab2_df['Gender']  = lab2_df['Gender'].astype('object')
lab2_df['RenalDiseaseIndicator']  = lab2_df['RenalDiseaseIndicator'].replace('Y',1)


lab2_df = lab2_df.replace({'ChronicCond_Alzheimer': 2,      'ChronicCond_Heartfailure': 2, 
                           'ChronicCond_KidneyDisease': 2,  'ChronicCond_Cancer': 2, 
                           'ChronicCond_ObstrPulmonary': 2, 'ChronicCond_Depression': 2, 
                           'ChronicCond_Diabetes': 2,       'ChronicCond_IschemicHeart': 2, 
                           'ChronicCond_Osteoporasis': 2,   'ChronicCond_rheumatoidarthritis': 2, 
                           'ChronicCond_stroke': 2 }, 0)

## Dataframe

In [8]:
lab2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Data columns (total 86 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   BeneID                           40474 non-null  object
 1   DOB                              40474 non-null  int64
 2   DOD                              40474 non-null  int64
 3   Gender                           40474 non-null  object
 4   Race                             40474 non-null  object
 5   RenalDiseaseIndicator            40474 non-null  object
 6   State                            40474 non-null  object
 7   County                           40474 non-null  object
 8   NoOfMonths_PartACov              40474 non-null  int64
 9   NoOfMonths_PartBCov              40474 non-null  int64
 10  ChronicCond_Alzheimer            40474 non-null  int64
 11  ChronicCond_Heartfailure         40474 non-null  int64
 12  ChronicCond_KidneyDisease        40474 non-null  int64
 13  ChronicCond_Cancer               40474 non-null  int64
 14  ChronicCond_ObstrPulmonary       40474 non-null  int64
 15  ChronicCond_Depression           40474 non-null  int64
 16  ChronicCond_Diabetes             40474 non-null  int64
 17  ChronicCond_IschemicHeart        40474 non-null  int64
 18  ChronicCond_Osteoporasis         40474 non-null  int64
 19  ChronicCond_rheumatoidarthritis  40474 non-null  int64
 20  ChronicCond_stroke               40474 non-null  int64
 21  IPAnnualReimbursementAmt         40474 non-null  float64
 22  IPAnnualDeductibleAmt            40474 non-null  float64
 23  OPAnnualReimbursementAmt         40474 non-null  int64
 24  OPAnnualDeductibleAmt            40474 non-null  int64
 25  state_usps                       40474 non-null  object
 26  Alive                            40474 non-null  object
 27  ClaimID                          40474 non-null  object
 28  ClaimStartDt                     40474 non-null  object
 29  ClaimEndDt                       40474 non-null  object
 30  Provider                         40474 non-null  object
 31  InscClaimAmtReimbursed           40474 non-null  float64
 32  AttendingPhysician               40474 non-null  object
 33  OperatingPhysician               40474 non-null  object
 34  OtherPhysician                   40474 non-null  object
 35  AdmissionDt                      40474 non-null  object
 36  ClmAdmitDiagnosisCode            40474 non-null  object
 37  DischargeDt                      40474 non-null  object
 38  DiagnosisGroupCode               40474 non-null  object
 39  ClmDiagnosisCode_1               40474 non-null  object
 40  ClmDiagnosisCode_2               40474 non-null  object
 41  ClmDiagnosisCode_3               40474 non-null  object
 42  ClmDiagnosisCode_4               40474 non-null  object
 43  ClmDiagnosisCode_5               40474 non-null  object
 44  ClmDiagnosisCode_6               40474 non-null  object
 45  ClmDiagnosisCode_7               40474 non-null  object
 46  ClmDiagnosisCode_8               40474 non-null  object
 47  ClmDiagnosisCode_9               40474 non-null  object
 48  ClmDiagnosisCode_10              40474 non-null  object
 49  ClmProcedureCode_1               40474 non-null  object
 50  ClmProcedureCode_2               40474 non-null  object
 51  ClmProcedureCode_3               40474 non-null  object
 52  ClmProcedureCode_4               40474 non-null  object
 53  ClmProcedureCode_5               40474 non-null  object
 54  DRGDesc                          40474 non-null  object
 55  ProcedureShortDesc_1             40474 non-null  object
 56  ProcedureShortDesc_2             40474 non-null  object
 57  ProcedureShortDesc_3             40474 non-null  object
 58  ProcedureShortDesc_4             40474 non-null  object
 59  ProcedureShortDesc_5             40474 non-null  object
 60  DiagnosticDesc_1                 40474 non-null  object
 61  DiagnosticDesc_2                 40474 non-null  object
 62  DiagnosticDesc_3                 40474 non-null  object
 63  DiagnosticDesc_4                 40474 non-null  object
 64  DiagnosticDesc_5                 40474 non-null  object
 65  DiagnosticDesc_6                 40474 non-null  object
 66  DiagnosticDesc_7                 40474 non-null  object
 67  DiagnosticDesc_8                 40474 non-null  object
 68  DiagnosticDesc_9                 40474 non-null  object
 69  DiagnosticDesc_10                40474 non-null  object
 70  DaysAdmitted                     40474 non-null  int64
 71  PotentialFraud                   40474 non-null  object
 72  Age                              40474 non-null  int64
 73  NoPhysician                      40474 non-null  int64
 74  AttendingPhysicianPresent        40474 non-null  object
 75  OtherPhysicianPresent            40474 non-null  object
 76  OperatingPhysicianPresent        40474 non-null  object
 77  NoOfDiag                         40474 non-null  int64
 78  NoOfProc                         40474 non-null  int64
 79  NoOfChronicCondition             40474 non-null  int64
 80  ORD_DOD                          40474 non-null  int64
 81  ORD_DOB                          40474 non-null  int64
 82  ORD_ClaimStartDt                 40474 non-null  int64
 83  ORD_ClaimEndDt                   40474 non-null  int64
 84  ORD_AdmissionDt                  40474 non-null  int64
 85  ORD_DischargeDt                  40474 non-null  int64
dtypes: float64(3), int64(29), object(54)
memory usage: 26.9+ MB

## All Features

All features are GROUPED as follows:
* Numeric Predictos
* Categorical Predictors
* Non-Predictors ( Will not be used for modeling)

In [9]:
numeric_preds     = ['Age','NoPhysician','NoOfDiag','NoOfProc',
                     'ORD_DOD','ORD_DOB','ORD_ClaimStartDt','ORD_ClaimEndDt',
                     'ORD_AdmissionDt','ORD_DischargeDt','DaysAdmitted',
                     'IPAnnualReimbursementAmt','IPAnnualDeductibleAmt',   
                     'InscClaimAmtReimbursed'  
                    ]

cat_preds_nominal = ['Gender','Race','RenalDiseaseIndicator','State','County',
                     'NoOfMonths_PartACov','NoOfMonths_PartBCov',
                     'ChronicCond_Alzheimer','ChronicCond_Heartfailure',
                     'ChronicCond_KidneyDisease','ChronicCond_Cancer','ChronicCond_ObstrPulmonary',
                     'ChronicCond_Depression','ChronicCond_Diabetes','ChronicCond_IschemicHeart',
                     'ChronicCond_Osteoporasis','ChronicCond_rheumatoidarthritis','ChronicCond_stroke',
                     'Alive','ClmAdmitDiagnosisCode','DiagnosisGroupCode',
                     'ClmDiagnosisCode_1','ClmDiagnosisCode_2','ClmDiagnosisCode_3',
                     'ClmDiagnosisCode_4','ClmDiagnosisCode_5','ClmDiagnosisCode_6',
                     'ClmDiagnosisCode_7','ClmDiagnosisCode_8','ClmDiagnosisCode_9',
                     'ClmDiagnosisCode_10','ClmProcedureCode_1','ClmProcedureCode_2',
                     'ClmProcedureCode_3','ClmProcedureCode_4','ClmProcedureCode_5',
                     'AttendingPhysicianPresent','OtherPhysicianPresent','OperatingPhysicianPresent'
                     ]

non_preds = ['BeneID','DOB','DOD','state_usps','ClaimID',
             'ClaimStartDt','ClaimEndDt','Provider',
             'AttendingPhysician','OperatingPhysician','OtherPhysician',
             'AdmissionDt','DischargeDt','DRGDesc',
             'ProcedureShortDesc_1','ProcedureShortDesc_2','ProcedureShortDesc_3',
             'ProcedureShortDesc_4','ProcedureShortDesc_5','DiagnosticDesc_1',
             'DiagnosticDesc_2','DiagnosticDesc_3','DiagnosticDesc_4',
             'DiagnosticDesc_5','DiagnosticDesc_6','DiagnosticDesc_7',
             'DiagnosticDesc_8','DiagnosticDesc_9','DiagnosticDesc_10',
             'NoOfChronicCondition'
             ]



preds_in_model = numeric_preds + cat_preds_nominal

Xlab2_df = lab2_df[preds_in_model]

Xlab2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Data columns (total 53 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              40474 non-null  int64
 1   NoPhysician                      40474 non-null  int64
 2   NoOfDiag                         40474 non-null  int64
 3   NoOfProc                         40474 non-null  int64
 4   ORD_DOD                          40474 non-null  int64
 5   ORD_DOB                          40474 non-null  int64
 6   ORD_ClaimStartDt                 40474 non-null  int64
 7   ORD_ClaimEndDt                   40474 non-null  int64
 8   ORD_AdmissionDt                  40474 non-null  int64
 9   ORD_DischargeDt                  40474 non-null  int64
 10  DaysAdmitted                     40474 non-null  int64
 11  IPAnnualReimbursementAmt         40474 non-null  float64
 12  IPAnnualDeductibleAmt            40474 non-null  float64
 13  InscClaimAmtReimbursed           40474 non-null  float64
 14  Gender                           40474 non-null  object
 15  Race                             40474 non-null  object
 16  RenalDiseaseIndicator            40474 non-null  object
 17  State                            40474 non-null  object
 18  County                           40474 non-null  object
 19  NoOfMonths_PartACov              40474 non-null  int64
 20  NoOfMonths_PartBCov              40474 non-null  int64
 21  ChronicCond_Alzheimer            40474 non-null  int64
 22  ChronicCond_Heartfailure         40474 non-null  int64
 23  ChronicCond_KidneyDisease        40474 non-null  int64
 24  ChronicCond_Cancer               40474 non-null  int64
 25  ChronicCond_ObstrPulmonary       40474 non-null  int64
 26  ChronicCond_Depression           40474 non-null  int64
 27  ChronicCond_Diabetes             40474 non-null  int64
 28  ChronicCond_IschemicHeart        40474 non-null  int64
 29  ChronicCond_Osteoporasis         40474 non-null  int64
 30  ChronicCond_rheumatoidarthritis  40474 non-null  int64
 31  ChronicCond_stroke               40474 non-null  int64
 32  Alive                            40474 non-null  object
 33  ClmAdmitDiagnosisCode            40474 non-null  object
 34  DiagnosisGroupCode               40474 non-null  object
 35  ClmDiagnosisCode_1               40474 non-null  object
 36  ClmDiagnosisCode_2               40474 non-null  object
 37  ClmDiagnosisCode_3               40474 non-null  object
 38  ClmDiagnosisCode_4               40474 non-null  object
 39  ClmDiagnosisCode_5               40474 non-null  object
 40  ClmDiagnosisCode_6               40474 non-null  object
 41  ClmDiagnosisCode_7               40474 non-null  object
 42  ClmDiagnosisCode_8               40474 non-null  object
 43  ClmDiagnosisCode_9               40474 non-null  object
 44  ClmDiagnosisCode_10              40474 non-null  object
 45  ClmProcedureCode_1               40474 non-null  object
 46  ClmProcedureCode_2               40474 non-null  object
 47  ClmProcedureCode_3               40474 non-null  object
 48  ClmProcedureCode_4               40474 non-null  object
 49  ClmProcedureCode_5               40474 non-null  object
 50  AttendingPhysicianPresent        40474 non-null  object
 51  OtherPhysicianPresent            40474 non-null  object
 52  OperatingPhysicianPresent        40474 non-null  object
dtypes: float64(3), int64(24), object(26)
memory usage: 16.7+ MB

## Target Variable

In [10]:
target_df   = lab2_df['PotentialFraud'].replace(['Yes','No'],[1,0]).values

## One Hot Encoding using Pandas

**Use pandas to one hot encode variables**

In [11]:
ipdata = pd.get_dummies(Xlab2_df, sparse=True)

In [12]:
ipdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Columns: 26573 entries, Age to OperatingPhysicianPresent_1
dtypes: Sparse[uint8, 0](26546), float64(3), int64(24)
memory usage: 13.7 MB

## Remove None columns

Dataaset contains None for Diagnosis and Prorcedure codes features wherever information is not availble on the claim. All claims allows max 5 procedure codes and 10 diagnosis codes and at least one procedure code or diagnosis code is applied on the claim. When claim has only one procedure and one diagnosis all other procedure codes contains NAs or None and one hot encoding treats these as another category which is not correct. therefore we need to remove column Nones created by one hot encoding by pandas.

In [13]:
nones = []
print('Removed Following Columns :')
for col in ipdata.columns:
    if 'None' in col:    
        nones.append(col)
        print(col)
ipdata = ipdata.drop(nones, axis=1)

Removed Following Columns :
ClmDiagnosisCode_2_None
ClmDiagnosisCode_3_None
ClmDiagnosisCode_4_None
ClmDiagnosisCode_5_None
ClmDiagnosisCode_6_None
ClmDiagnosisCode_7_None
ClmDiagnosisCode_8_None
ClmDiagnosisCode_9_None
ClmDiagnosisCode_10_None
ClmProcedureCode_1_None
ClmProcedureCode_2_None
ClmProcedureCode_3_None
ClmProcedureCode_4_None
ClmProcedureCode_5_None

In [14]:
ipdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Columns: 26559 entries, Age to OperatingPhysicianPresent_1
dtypes: Sparse[uint8, 0](26532), float64(3), int64(24)
memory usage: 12.5 MB

## MinMaxScaler

We decided to use the MinMaxScaler here instead of the standard scaler because we're using a sparse matrix of mostly binary features.  Because we do have some true numeric features, such as: deductible amount, age, the converted ordinal dates, claim dollar amounts etc, these may end up having values outside the bounds of 0 and 1.  A zero mean scaler doesn't make sense with this data because it would cause the numeric features to have inflated importance if observations end up being several standard deviations away from 0, while the binary features are capped at 1.  The minMax scaler allows us to force all values in the dataset to live within the bounds of 0 and 1, allowing our logistic regression algorithms to weight features appropriately using similar measures.

In [15]:
scaler = MinMaxScaler()
scaler.fit(ipdata)
X1 = scaler.transform(ipdata)

/Users/sachin/opt/anaconda3/envs/ML7331_38/lib/python3.8/site-packages/sklearn/utils/validation.py:509: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(
/Users/sachin/opt/anaconda3/envs/ML7331_38/lib/python3.8/site-packages/sklearn/utils/validation.py:509: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

# Data Preparation Part 2

## Final DataSet

In [16]:
Xlab2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40474 entries, 0 to 40473
Data columns (total 53 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              40474 non-null  int64
 1   NoPhysician                      40474 non-null  int64
 2   NoOfDiag                         40474 non-null  int64
 3   NoOfProc                         40474 non-null  int64
 4   ORD_DOD                          40474 non-null  int64
 5   ORD_DOB                          40474 non-null  int64
 6   ORD_ClaimStartDt                 40474 non-null  int64
 7   ORD_ClaimEndDt                   40474 non-null  int64
 8   ORD_AdmissionDt                  40474 non-null  int64
 9   ORD_DischargeDt                  40474 non-null  int64
 10  DaysAdmitted                     40474 non-null  int64
 11  IPAnnualReimbursementAmt         40474 non-null  float64
 12  IPAnnualDeductibleAmt            40474 non-null  float64
 13  InscClaimAmtReimbursed           40474 non-null  float64
 14  Gender                           40474 non-null  object
 15  Race                             40474 non-null  object
 16  RenalDiseaseIndicator            40474 non-null  object
 17  State                            40474 non-null  object
 18  County                           40474 non-null  object
 19  NoOfMonths_PartACov              40474 non-null  int64
 20  NoOfMonths_PartBCov              40474 non-null  int64
 21  ChronicCond_Alzheimer            40474 non-null  int64
 22  ChronicCond_Heartfailure         40474 non-null  int64
 23  ChronicCond_KidneyDisease        40474 non-null  int64
 24  ChronicCond_Cancer               40474 non-null  int64
 25  ChronicCond_ObstrPulmonary       40474 non-null  int64
 26  ChronicCond_Depression           40474 non-null  int64
 27  ChronicCond_Diabetes             40474 non-null  int64
 28  ChronicCond_IschemicHeart        40474 non-null  int64
 29  ChronicCond_Osteoporasis         40474 non-null  int64
 30  ChronicCond_rheumatoidarthritis  40474 non-null  int64
 31  ChronicCond_stroke               40474 non-null  int64
 32  Alive                            40474 non-null  object
 33  ClmAdmitDiagnosisCode            40474 non-null  object
 34  DiagnosisGroupCode               40474 non-null  object
 35  ClmDiagnosisCode_1               40474 non-null  object
 36  ClmDiagnosisCode_2               40474 non-null  object
 37  ClmDiagnosisCode_3               40474 non-null  object
 38  ClmDiagnosisCode_4               40474 non-null  object
 39  ClmDiagnosisCode_5               40474 non-null  object
 40  ClmDiagnosisCode_6               40474 non-null  object
 41  ClmDiagnosisCode_7               40474 non-null  object
 42  ClmDiagnosisCode_8               40474 non-null  object
 43  ClmDiagnosisCode_9               40474 non-null  object
 44  ClmDiagnosisCode_10              40474 non-null  object
 45  ClmProcedureCode_1               40474 non-null  object
 46  ClmProcedureCode_2               40474 non-null  object
 47  ClmProcedureCode_3               40474 non-null  object
 48  ClmProcedureCode_4               40474 non-null  object
 49  ClmProcedureCode_5               40474 non-null  object
 50  AttendingPhysicianPresent        40474 non-null  object
 51  OtherPhysicianPresent            40474 non-null  object
 52  OperatingPhysicianPresent        40474 non-null  object
dtypes: float64(3), int64(24), object(26)
memory usage: 16.7+ MB

In [17]:
Xlab2_df

,Age,NoPhysician,NoOfDiag,NoOfProc,ORD_DOD,ORD_DOB,ORD_ClaimStartDt,ORD_ClaimEndDt,ORD_AdmissionDt,ORD_DischargeDt,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,AttendingPhysicianPresent,OtherPhysicianPresent,OperatingPhysicianPresent
0,66,1,9,0,719163,719163,733509,733515,733509,733515,...,5849,None,None,None,None,None,None,1,0,0
1,95,3,9,2,719163,719163,733427,733439,733427,733439,...,E9305,None,7769.0,5849.0,None,None,None,1,1,1
2,87,2,9,1,719163,719163,733697,733715,733697,733715,...,4019,None,9338.0,None,None,None,None,1,0,1
3,79,3,7,1,719163,719163,733705,733709,733705,733709,...,None,None,8154.0,None,None,None,None,1,1,1
4,83,2,1,1,719163,719163,733415,733419,733415,733419,...,None,None,8543.0,None,None,None,None,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40469,57,3,9,1,719163,719163,733582,733589,733582,733589,...,0414,None,9955.0,None,None,None,None,1,1,1
40470,66,3,9,1,719163,719163,733656,733663,733656,733663,...,2639,None,3326.0,None,None,None,None,1,1,1
40471,70,1,9,0,719163,719163,733726,733734,733726,733734,...,2761,None,None,None,None,None,None,1,0,0
40472,51,2,8,1,719163,719163,733430,733430,733430,733430,...,None,None,9390.0,None,None,None,None,1,0,1
40473,57,2,10,1,719163,719163,733456,733463,733456,733463,...,32723,2724,3324.0,None,None,None,None,1,0,1

In [18]:
Xlab2_df.describe()

,Age,NoPhysician,NoOfDiag,NoOfProc,ORD_DOD,ORD_DOB,ORD_ClaimStartDt,ORD_ClaimEndDt,ORD_AdmissionDt,ORD_DischargeDt,...,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke
count,40474.000000,40474.000000,40474.000000,40474.000000,40474.0,40474.0,40474.000000,40474.000000,40474.000000,40474.000000,...,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000
mean,73.181598,1.701883,8.087365,0.733607,719163.0,719163.0,733577.740698,733583.400949,733577.734867,733583.400035,...,0.721821,0.601769,0.190962,0.479147,0.502224,0.802046,0.856698,0.351559,0.360355,0.169837
std,13.187784,0.618905,1.851830,0.761113,0.0,0.0,104.884925,104.658338,104.888036,104.659525,...,0.448107,0.489540,0.393064,0.499571,0.500001,0.398462,0.350385,0.477463,0.480109,0.375495
min,25.000000,0.000000,1.000000,0.000000,719163.0,719163.0,733373.000000,733408.000000,733373.000000,733408.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,67.000000,1.000000,8.000000,0.000000,719163.0,719163.0,733486.000000,733492.000000,733486.000000,733492.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,74.000000,2.000000,9.000000,1.000000,719163.0,719163.0,733574.000000,733580.000000,733574.000000,733580.000000,...,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,82.000000,2.000000,9.000000,1.000000,719163.0,719163.0,733667.000000,733673.000000,733667.000000,733673.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,101.000000,3.000000,10.000000,5.000000,719163.0,719163.0,733772.000000,733772.000000,733772.000000,733772.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Sparse Matrix

Transform data back into a sparse matrix. **CSC(Compressed Sparse Column)** is more efficient at accessing column-vectors or column operations, generally, as it is stored as arrays of columns and their value at each row.

In [19]:
X = csc_matrix(X1)

## Train and Test split

In [20]:
# split X and y into training and testing sets

X_train,X_test,y_train,y_test = train_test_split(X,target_df,test_size=0.2,random_state=86)

# Modeling and Evaluations 1

# Modeling and Evaluations 2

# Modeling and Evaluations 3

## Create Models

<b>Classifcation Models </b>
* Logistic regression
* Random Forest
* Naive Bayes

<b>Regression Models </b>
* Multiple Linear Regression
* Random Forest
* kNN

# Modeling and Evaluations 4

# Modeling and Evaluations 5

# Modeling and Evaluations 6

# Deployment

# Exceptional Work

# References