In [ ]:
sys.path

In [11]:
import pandas as pd
import numpy as np
import sys

#Read in the benefitiary and inpatient data, using pandas to save it as a dataframe.
benefit = pd.read_csv("H:/1SMU/healthcare-provider-fraud-detection-analysis/Train_Beneficiarydata-1542865627584.csv")
inpatient = pd.read_csv("H:/1SMU/healthcare-provider-fraud-detection-analysis/Train_Inpatientdata-1542865627584.csv")
result = pd.read_csv("H:/1SMU/healthcare-provider-fraud-detection-analysis/Train-1542865627584.csv")

print(len(benefit))
print(len(inpatient))
print(len(result))
benefit.head()

result_inpatient = pd.merge(inpatient, result, how='inner', on=['Provider'])
result_inpatient.head()

result_inpatient_benefit = pd.merge(benefit,result_inpatient, how='inner', on=['BeneID'])
print(len(result_inpatient_benefit))
result_inpatient_benefit.head()

138556
40474
5410
40474

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,PotentialFraud
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes
1,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,No
2,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3,BENE11011,1914-03-01,NaN,2,2,0,1,360,12,12,...,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,No
4,BENE11014,1938-04-01,NaN,2,1,Y,45,780,12,12,...,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,No

In [14]:
result_inpatient_benefit.describe()

,Gender,Race,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,...,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,InscClaimAmtReimbursed,DeductibleAmtPaid,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
count,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,40474.000000,...,40474.000000,40474.000000,40474.000000,39575.0,23148.000000,5454.000000,965.000000,116.000000,9.000000,0.0
mean,1.574863,1.248752,25.392573,377.385136,11.915402,11.922642,1.495948,1.278179,1.398231,1.809038,...,1897.183130,529.319390,10087.884074,1068.0,5894.611759,4103.738174,4226.355440,4070.172414,5269.444444,NaN
std,0.494370,0.698123,15.235985,266.417759,0.987961,0.879923,0.499990,0.448107,0.489540,0.393064,...,3949.299161,948.130843,10303.099402,0.0,3049.304400,2028.182156,2282.761581,1994.409802,2780.071632,NaN
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,-70.000000,0.000000,0.000000,1068.0,11.000000,42.000000,42.000000,42.000000,2724.000000,NaN
25%,1.000000,1.000000,11.000000,150.000000,12.000000,12.000000,1.000000,1.000000,1.000000,2.000000,...,190.000000,40.000000,4000.000000,1068.0,3848.000000,2724.000000,2724.000000,2758.750000,4139.000000,NaN
50%,2.000000,1.000000,25.000000,342.000000,12.000000,12.000000,1.000000,1.000000,1.000000,2.000000,...,730.000000,210.000000,7000.000000,1068.0,5369.000000,4019.000000,4019.000000,4019.000000,4139.000000,NaN
75%,2.000000,1.000000,38.000000,570.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,...,2020.000000,610.000000,12000.000000,1068.0,8666.250000,4439.000000,5185.000000,4439.000000,5185.000000,NaN
max,2.000000,5.000000,54.000000,999.000000,12.000000,12.000000,2.000000,2.000000,2.000000,2.000000,...,102960.000000,13840.000000,125000.000000,1068.0,9999.000000,9999.000000,9999.000000,9986.000000,9982.000000,NaN