In [1]:
import pandas as pd

In [5]:
svm_ds = pd.read_csv('data/final_fraud_dataset.csv')
svm_ds

,Unnamed: 0,ClaimStartDt,ClaimEndDt,InscClaimAmtReimbursed,AdmissionDt,DeductibleAmtPaid,DischargeDt,DOB,DOD,NoOfMonths_PartACov,...,County_986,County_988,County_989,County_990,County_991,County_992,County_996,County_999,PotentialFraud_No,PotentialFraud_Yes
0,14586,733586,733595,14000.0,733586,1068.0,733595,706045,803168,12,...,0,0,0,0,0,0,0,0,0,1
1,1341,733765,733769,3000.0,733765,1068.0,733769,708722,803168,12,...,0,0,0,0,0,0,0,0,0,1
2,28567,733434,733443,0.0,733434,1068.0,733443,714231,803168,12,...,0,0,0,0,0,0,0,0,0,1
3,36395,733674,733676,3000.0,733674,1068.0,733676,712619,803168,12,...,0,0,0,0,0,0,0,0,1,0
4,29856,733486,733489,12000.0,733486,1068.0,733489,705739,803168,12,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4042,11838,733733,733739,17000.0,733733,1068.0,733739,712588,803168,12,...,0,0,0,0,0,0,0,0,0,1
4043,34683,733387,733422,57000.0,733387,1068.0,733422,708510,803168,12,...,0,0,0,0,0,0,0,0,1,0
4044,2651,733623,733625,31000.0,733623,1068.0,733625,707200,803168,12,...,0,0,0,0,0,0,0,0,0,1
4045,30630,733685,733691,9000.0,733685,1068.0,733691,705404,803168,12,...,0,0,0,0,0,0,0,0,1,0
4046,17575,733435,733436,12000.0,733435,1068.0,733436,707141,803168,12,...,0,0,0,0,0,0,0,0,0,1